body{
    background-color: black;
}
nav{
    background-color: black;
}
.navbar-brand img{
    width: 140px;
    height: 40px;
}
.collapse ul{
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 90%;
    margin-left: 10%;
}
.collapse ul>li button{
    background-color: rgb(251, 4, 4);
    height: 50px;
    width: 100%;
}
.container img{
    width: 100%;
    margin: auto;
    opacity: 10px 10px 10px 10px;
}
.container h1{
    position: absolute;
    margin-top: -30%;
    margin-left: 20%;
    color: red;
    font-size: 80px;
    font-weight: bolder;
}
.container p{
    position: absolute;
    margin-top: -20%;
    margin-left: 25%;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
 /* body{
    background-image: url('https://media.istockphoto.com/id/1398243478/photo/napier-sunrise.jpg?s=612x612&w=0&k=20&c=-DQQL9IirWMte0BXZKYtjiFAPKS8SpVaO5OQ3Vn4TkQ=') ;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: 100vh; */
    
  
 